<%= form_with(model: pay_method, local: true) do |form| %>
  <% if pay_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pay_method.errors.count, "error") %> prohibited this pay_method from being saved:</h2>

      <ul>
      <% pay_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payable_id %>
    <%= form.text_field :payable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
